[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pytesseract = "*"
pillow = "*"
imutils = "*"
python3-xlib = "*"
python-xlib = "*"
pyautogui = "*"
pandas = "*"
lxml = "*"
odfpy = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
